body {
    color: #000000;
    background: #efefe9;
    margin: 2px auto;
    padding: 1px 1px 0px 1px;
    font-size: .9em;
    padding: 0px;
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    max-width: 605px;
    min-width: 240px;
}

img {
    max-width: 100%;
}

* {
    word-wrap: break-word;
}

body a {
    color: #0e3751;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

#btn {
    position: relative;
    padding: 0px 1px;
    font-size: 1em;
    font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;
    line-height: 1.230;
    border: 1px solid #d2d2d2;
    text-decoration: none;
    color: #000000;
    background: #e9e9e9 url(images/generic_button.png) repeat-x top left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.vpt_head {
    font-size: 14px;
    font-family: verdana;
    border-bottom: 1px solid #86bd2c;
    padding: 0;
    background: url(images/head.gif) repeat-x 50% top #91d326
}

.vpt_head a {
    color: #a9d168;
    font-weight: 700;
    background: url(images/logobg.png) repeat-x top;
    display: inline-table;
}

.vpt_head span {
    background: url(images/logo.png) no-repeat left top;
    height: 63px;
    display: block;
}

.vpt_head i {
    font-style: normal;
    height: 37px;
    padding-top: 26px;
    padding-right: 15px;
    padding-left: 20px;
    display: block;
    background: url(images/logor.png) no-repeat right top;
}

.vpt_head img {
    vertical-align: middle;
    width: 125px;
    height: 63px
}

.vpt_head b {
    color: #fe83a0
}

.phdr {
    background-color: #009933;
    color: #ffffff;
    text-shadow: #666666 1px 1px 1px;
    padding: 2px;
    width: 100% -4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-weight: normal;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

.phdr a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 2px;
}

.list2 {
    background-color: #ffffff;
    color: #000000;
    padding: 3px;
    width: 100% -4px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.list1 {
    background-color: #f4f4f4;
    color: #000000;
    padding: 3px;
    width: 100% -4px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.khungvientrang {
    width: 95%;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0px;
    padding: 4px;
    padding-top: 0px;
    border: 1px solid #D6D6CF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.auth {
    background: #f8f8f8;
    border: 1px solid #d2d2d2;
    padding: 4px;
}

.auth input {
    background: url('./images/input.gif') repeat-x bottom;
    border: 1px solid #d4d4d4;
    color: #6d6d6d;
    margin: 0;
}

.auth input[type=submit]:hover {
    background: #b3b3b3;
    border: 1px solid #999;
}

.auth a {
    font-size: 12px;
    text-decoration: none;
}

.auth a:hover {
    color: #F60;
}

.auth input.exit,
.whiteinput[type=submit] {
    background: #eee;
    border: 1px solid #bbb;
    color: #777;
}

.whiteinput[type=submit] {
    border: 1px solid #999;
}

.auth input.exit:hover {
    background: #ffd9d9;
    border: 1px solid #e1abab;
    color: #a76666;
}

.auth input.name {
    background: url('./images/input_name.gif') no-repeat right center #fff;
    padding-right: 17px;
}

.auth input.pass {
    background: url('./images/input_pass.gif') no-repeat right center #fff;
    padding-right: 17px;
}

.bre {
    background-color: #f0f0f0;
    padding: 2px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-weight: normal;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
}

.rmenu {
    background-color: #ccc;
    border: 1px solid white;
    margin: 0;
    padding: 2px 0 3px 4px;
}

.gmenu {
    background-color: #F2F2F2;
    border: 1px solid white;
    margin: 0;
    padding: 3px 4px 3px 4px;
}

.menu {
    color: #333333;
    background: #fff url('/images/alt.jpg') repeat-x bottom;
    margin: 0;
    padding: 3px 4px 3px 4px;
}

.sitemap {
    background-color: #eeecd9;
    margin: 0;
    padding: 2px 4px 3px 4px;
    font-size: xx-small;
    height: 38px;
    overflow: auto;
}

.status {
    color: #CD853F;
    font-size: x-small;
    font-weight: bold;
    padding-left: 0;
}

.gray {
    color: #586776;
}

.titlebg {
    background-color: #2891fd;
    color: #FFFFFF;
    text-shadow: #666666 1px 1px 1px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    border: 1px solid #d2d2d2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.titlebg a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav1 {
    background-color: #f1f1f1;
    color: #000000;
    padding: 0px;
    width: 100% -4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    font-weight: normal;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.postbg {
    background-color: #fcfcfc;
    color: #000000;
    padding: 2px;
    width: 100% -4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    font-weight: normal;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.sub {
    background: #f8f8f8;
    padding: 3px;
    font-size: 10px;
}

.tmn {
    background: #eeeeee url('./images/headerbg2.png') repeat-x bottom;
    color: #c8c8c8;
    padding: 4px;
    border-top: 1px solid #e3e3e3;
    text-shadow: -1px 1px 1px #fff;
    font-size: 12px;
}

.user {
    background-color: #CBDBE7;
    border: 1px solid white;
    margin: 0;
    padding: 3px 4px 3px 4px;
}

.alarm a:link, .alarm a:visited {
    color: #FFFFFF;
    font-size: x-small;
}

.clip a:link, .clip a:visited {
    color: #424e59;
}

.footer a:link, .footer a:visited {
    color: #D2D2D2;
    text-decoration: none;
}

.green, .green a:link, .green a:visited {
    color: #008000;
}

.greply a:link, .greply a:visited {
    color: #008800;
}

.red, .red a:link, .red a:visited {
    color: #FF0000;
}

.reply a:link, .reply a:visited {
    color: #DD0000;
}

.quote {
    background-color: #fff6cc;
    padding: 2px;
    width: 95%;
    border-left: 3px solid #9c9c9c;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding: 2px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: .9em;
}