
/*

.zoom-section {	
	clear:both;		
}



.zoom-desc {
	float:left;
	margin-left:10px;
	width:310px;
	margin-bottom:20px;

}
.zoom-small-image {
	border:4px solid #CCC;
	float:left;
	margin-bottom:20px;
}
.zoom-tiny-image {
	border:1px solid #CCC;
	margin:0px;
	
}
.zoom-tiny-image:hover {
	border:1px solid #C00;		
}


*/